main {
    min-height: auto;
}
#hero h1,#hero p,#hero h2{
    color:white;
    position:relative;
    z-index: 2;
}

#hero{
    position:relative;
    display:flex;
    background-image: url(../video/backgroundvideo1.mp4);
    background-repeat: no-repeat;
    background-size: cover;
    width:100vw;
    height:525px;
    flex-direction: column;
    justify-content: end;
    padding-left:5%;
}

#hero video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}



.flexH{
    display:flex;
}
.flexH img{
    width:50px;
    height:50px;
    margin-left: 10px;
    align-self: center;
    z-index: 0;
}
.flexH h1{
    font-size: 72pt;
    align-self: end;
    margin:0;
    margin-bottom:-20px;
}

.spacer{
    height:80px;
}
.spacer video{
    position: absolute;
    width: 100%;
    height: 80px;
    object-fit: cover;
    z-index: 1;
}

#politicatexto{
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left:5%;
    padding-right: 5%;
    max-width: 1200px;
    margin: 0 auto;
}

.bloco-politica {
    margin-bottom: 30px;
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
}

.bloco-politica p,ul li{
    color:black;
    font-size: 16pt;
}

.bloco-politica:last-child {
    border-bottom: none;
}

.bloco-politica h3 {
    margin-top: 0;
    color: #016DDA;
    margin-bottom: 10px;
    font-size: 24pt;
}

.bloco-politica ul {
    list-style: disc;
    margin-left: 20px;
    padding-left: 0;
}

.bloco-politica li {
    margin-bottom: 0;
}

.destaque {
    background-color: lightgrey;
    border-left: 5px solid #016DDA;
    padding: 20px;
    border-radius: 4px;
    margin-top: 40px;
}

.destaque h3 {
    color: #000;
}

@media screen and (max-width: 875px) {
    .bloco-politica p,
    .bloco-politica ul li {
        font-size: 12pt;
    }

    .flexH h1 {
        font-size: 24pt;
        margin: 0;
    }

    .bloco-politica h3 {
        font-size: 20pt;
    }

    h2 {
        font-size: 20pt;
    }

    #politicatexto {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #hero {
        height: 250px;
    }

    #hero video {
        height: 250px;
    }
}
